mixin button(options)

  -
    const classDefault = "button"
    const modificator = options.modificator || undefined 
    const href = options.href || "" 
    const isSubmit = options.isSubmit || false
    const text = options.text || "Click me"
    
    let classes = classDefault

    if (modificator !== undefined){
      classes = `${classDefault} ${classDefault}_${modificator}`
    }
    
  if isSubmit 
    button(type = "submit", class != classes) #{text}
  else
    a(class != classes, href != href)   
      p.button__text #{text}
      
