mixin button(options = {})
  -
    const { modifier = undefined, href = '', isSubmit = false,  text = 'Click me' } = options
    const classDefault = 'button'
    let classes = modifier ? `${classDefault} ${classDefault}_${modifier}` : classDefault
    
  if isSubmit 
    button(type = "submit", class != classes) #{ text }
  else
    if (modifier === 'minimal')
      p(class != classes, href != href)
        span.button__text #{ text }
    else
      a(class != classes, href != href)   
        p.button__text #{ text }
      
