mixin checkboxButtons({ title = 'checkbox buttons', modifier = 'standard', items = [] })
  -
    const blockClass = `checkbox-buttons js-checkbox-buttons checkbox-buttons_${modifier}`
    const itemClass = `checkbox-buttons__item js-checkbox-buttons__item`

  div(class = blockClass)
    - const isExpandable = (modifier === 'expandable')

    if isExpandable
      .checkbox-buttons__titles-container.js-checkbox-buttons__titles-container
        h3.checkbox-buttons__title #{ title } 
    else
      h3.checkbox-buttons__title #{ title }

    .checkbox-buttons__list
      each item in items
        -
          if (!item) item = {}
          const { 
            title = "items title", text = 'items text', name = 'checkbox', 
            checked = false 
          } = item
        
        label(class = itemClass)
          span.checkbox-buttons__checkbox
            input.checkbox-buttons__checkbox-input( type = "checkbox", name = name, checked = checked)
            span.checkbox-buttons__checkbox-imitator

          if modifier === 'rich'
            span.checkbox-buttons__item-content 
              span.checkbox-buttons__item-title #{ title }
              span.checkbox-buttons__item-text #{ text }
          else 
            span.checkbox-buttons__item-text #{ text }